<% if parts.any? %>
  <%= render parts %>
<% else %>
  <div class="grid-x grid-padding-x" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="cell text-center"><i>None listed</i></div>
  </div>
<% end %>