

<div class="grid-x grid-padding-x" >
  <div class="medium-9 cell">
    <h1>New Part</h1>

    <%= render 'form', part: @part %>

    <br />
    <%= link_to 'Back', parts_path %>
    
  </div><!-- /medium.cell -->
  
  <div class="medium-3 cell">
    <%= render "parts_sidebar" %>
  </div><!-- /medium.cell -->
</div>