<%= render "layouts/admin_nav" %>

<div class="grid-x grid-padding-x" >
  <div class="cell">
    <h1>New Part</h1>

    <%= render 'form', part: @part %>

    <br />
    <%= link_to 'Back', parts_path %>
    
  </div>
</div>

