// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color1: #7C786A;
$color2: #8DCDC1;
$color3: #D3E397;
$color4: #FFF5C3;
$color5: #EB6E44;

$pennblue: #2F4673;
$pennred: #8C1127;




.active[data-magellan-arrival] a {
  background-color: $pennred !important;
}
 

.dark-section {
  background-color: $pennblue;
  color: white;
  h1, h2, h3, h4, h5 { color: white;}
  padding-top: 20px; 
  padding-bottom: 25px; 
  padding-left: 10px; 
  padding-right: 10px; 
}

.light-section {
  background-color: white; 
  padding-top: 20px; 
  padding-bottom: 25px; 
  padding-left: 10px; 
  padding-right: 10px; 
}