

<div class="grid-x grid-padding-x" >
  <div class="cell">
    <h1>Editing Report</h1>

    <%= render 'form', report: @report %>
    
    <br />
    <%= link_to 'Back to All Reports', reports_path %> | 
    <%= link_to 'Destroy this report', @report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
  </div>
</div>
